@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Playfair+Display&display=swap');

body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/Assets/images/background.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.navbar-light .navbar-brand {
    color: #b3816e;
    font-size: 150%;
}
